<div class="flex shadow-lg p-4 bg-white">
    <img class="w-50 rounded-full " src="https://placehold.co/50?text={{ product.name }}" alt="{{ product.name }}">
    <div class="col-span-2 content-center">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ product.name }}</div>
            <p class="text-gray-700 text-base">{{ product.description }}</p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                ${{product.price }}
            </span>
        </div>
    </div>
</div>